/* Fuente general */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: #333;
    background-color: #f8fbfa;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    display: block;
}
/* Encabezado */
.site-header {
    text-align: center;
    padding: 20px 0;
}
.logo {
    width: 200px;
}

.barra {
    background-color: #d2f3e0;
}
.navegacion-principal {
    text-align: center;
}
.navegacion-principal a {
    color: rgb(51, 126, 102);
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    padding: 19px 22px;
}
.navegacion-principal a:hover {
    background-color: #b1e9dd;
    transition: background-color 0.3s;
}

.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px black;
}

h2 {
    color: #5f9e6b;
    text-align: center;
    margin: 40px 0 20px;
}

.titulo-producto {
    text-decoration: none;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    text-align: center;
    padding-bottom: 40px;
}

.producto {
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    color: inherit;
    text-decoration: none;
}
.producto:hover {
    transform: scale(1.05);
}

.mov-img {
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}
.mov-img:hover {
    transform: scale(1.15);
}

.detalle {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
}
.mov-img-grande {
    width: 250px;
    margin: 15px auto;
    display: block;
    transition: transform 0.3s;
}
.mov-img-grande:hover {
    transform: scale(1.12);
}

.mensaje {
    background-color: #d2f3e0;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.iconos-redes img {
    border-radius: 12px;
    height: 70px;
    object-fit: cover;
    transition: transform 0.3s;
}
.iconos-redes img:hover {
    transform: scale(1.3) rotate(10deg);
}

/*Nosotros*/
.imagenes-myv {
    width: 250px;
    margin: 15px auto;
    display: block;
    transition: transform 0.3s;
}

.footer-sitio {
    background-color: #89c694;
    color: white;
    padding: 20px 10px;
    text-align: center;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.2rem;
}
.copyrigth {
    background-color: #5f9e6b;
    padding: 12px;
    margin-top: 12px;
}